.navleft{
	font-size: 16px;
}

.index-block .left-section {
    min-height: 2000px;
}

.pull-left {
    float: left;
}

.left-section > .category_header {
    font-size: 28px;
    margin: 25px auto;
}

.category_header {
    color: #777;
    font-size: 18px;
    margin: 0 auto;
}

.nav-pad {
	padding-bottom: 20px; 
	padding-top:20px;
}

.img-logo {
	height: 28px; 
	position: relative; 
	top: -5px; 
	width: auto;
}

.left-margin{
	margin-left: 10px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Becauz we use navbar-fix-top */
body { padding-top: 120px; }